.menuSemanal-container{
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;

}
.menuSemanal-container h2 {
  color: rgb(248, 48, 48);
  font-size: 1.5em;
  margin: 20px;
}

.title-container{
  display: flex;
  justify-content: space-between;
}
.icon{
  color: red;
  text-align: center;
  font-size: 36px;
  padding: 20px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.day {
  padding: 20px;
  border-radius: 5px;
  background-color: #dddddd;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  transition: all 0.3s ease;
}

.day:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px 0 hsla(0, 0%, 0%, 0.3);
}

.day-name {
  text-align: center;
  color: #517953;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.meal {
  margin-bottom: 20px;
}

.meal h4 {
  color: #575a5d;
  margin-bottom: 10px;
}

.meal input {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.1);
}

.meal ul {
  list-style-type: none;
  padding-left: 0;
}

.meal ul li {
  background-color: #E9ECEF;
  margin-top: 5px;
  padding: 5px;
  border-radius: 3px;
}


/* Estilos existentes... */

@media (max-width: 768px) {
  .menu {
    grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
  }

  .day {
    margin-bottom: 15px;
  }

  .day-name {
    font-size: 1em;
  }
}
