.recipes-container{
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 600px;
    margin: 20px auto;
}
.recipes-container h2 {
    color: rgb(248, 48, 48);
    font-size: 1.5em;
    margin: 20px;
}

.title.container{
    display: flex;
    justify-content: space-between;
}

.icon{
    color: red;
    text-align: center;
    font-size: 36px;
    padding: 20px;
  }