.recipes-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 600px;
    margin-left: 35vh;
}

.recipes-container h2 {
    color: rgb(78, 50, 50);
    font-size: 1.5em;
    margin: 20px;
}

.title.container {
    display: flex;
    justify-content: space-between;
}

.icon {
    color: rgb(78, 50, 50);
    text-align: center;
    font-size: 36px;
    padding: 20px;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
}

.buttons-container button {
    padding: 10px 20px;
    background-color: #517953;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 10px auto;    

}

.buttons-container button:hover{
    background-color: rgb(13, 41, 12);
    
    

}